
@import '../Abstract/variables';
@import '../Abstract/mixins';
@import '../Base/typographi';
@import '../utility/utility';





.main {
    background-color: $primarycolor;
    height: 100vh;
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/1350993173/photo/winding-coast-road-in-corsica.jpg?b=1&s=170667a&w=0&k=20&c=ysJU3NQUzj_GgVmwtCVvwa8XzzWPfnF3OSh3i4MxLIQ=);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

 

    &::before {
        content: "";
        background-color: $secondaryColor;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
}

.form {
    width: 500px;
}