
@import '../Abstract/variables';


.Icon {
    cursor: pointer;
}


input,
select,
textarea {
    &.ng-touched.ng-invalid {
        border: 2px solid $DangerColor;
    }

    &.ng-dirty.ng-invalid {
        border: 2px solid $DangerColor;
    }
}

span { 
    display: block;
}